---
layout: default
permalink: /nl/
ref: index
lang: nl
---


<div class="home wrapper wrapper__main">

  <div class="home-banner">

    <div class="home-banner__text">
      <h1 class="home-banner__title">Tinten corrigeert de kleur van bakstenen, steen en beton</h1>

      <p class="home-banner__paragraph">Door het mengen van speciaal geselecteerde pigmenten en het zorgvuldig aanbrengen kunnen we lelijke reparaties verbergen, een aanbouw aan laten sluiten op het bestaande gebouw of een gebouw een geheel nieuw aanzicht geven. Dit proces zorgt voor een hele natuurlijke en permanente kleurverandering </p>

      <a href="{{ site.url }}examples" class="home-banner__link">Voorbeelden</a>
    </div>

  </div>

  <div class="home-section">

    <div class="home-testimonials">

      {% for home-testimonial in site.data.home-testimonials %}

      <blockquote class="home-testimonial">
        <div class="home-testimonial__icon">{% include quotation.svg %}</div>
        <p class="home-testimonial__quote">{{home-testimonial.quote}}</p>

        <footer class="home-testimonial__author"><hr/> {{home-testimonial.author}}
        </footer>
      </blockquote>

      {% endfor %}

    </div>


    <dl class="home-about">

      {% for home-about in site.data.home-abouts %}

      <hr class="home-about__line">

      <div class="home-about__item">

        <div class="home-about__icon">{{home-about.svg}}</div>

        <div class="home-about__text">
          <dt class="home-about__term">{{home-about.term}}</dt>
          <dd class="home-about__description">{{home-about.description}}</dd>
        </div>

      </div>

      <hr class="home-about__line--bottom">

      {% endfor %}

    </dl>

  </div>


</div>
