---
layout: default
permalink: /nl/testimonials/
ref: testimonials
lang: nl
---


<div class="testimonial wrapper wrapper__main">

  {% for testimonial in site.data.nl-testimonials %}

    <figure class="testimonial__item">
      <div class="testimonial__img-box">
        {% if testimonial.link != nil %}
          <a href="{{ testimonial.link }}" target="_blank">
        {% endif %}
          <img class="testimonial__img" src="../../images/testimonial/{{ testimonial.src }}" alt={{ testimonial.alt }}/>
        {% if testimonial.link != nil %}
          </a>
        {% endif %}
      </div>
      <div class="testimonial__text">
        <figcaption class="testimonial__name"> {{testimonial.name}}</figcaption>
        <h3 class="testimonial__project">{{testimonial.project}} </h3>
        <p class="testimonial__quote">{{testimonial.quote}}</p>
      </div>
    </figure>

  {% endfor %}

</div>
