<footer class="site-footer">

  <div class="site-footer__wrapper wrapper">

    <div class="site-footer__address-block">
      <h2 class="site-footer__heading">UK</h2>

      <a class="site-footer__link" href="mailto:mail@brickimage.co.uk">
        mail@brickimage.co.uk</a>
    </div>

    <div class="site-footer__address-block">
      <h2 class="site-footer__heading">NL</h2>

      <a class="site-footer__link" href="tel:003165-775-62-75">+31 (0)30 781 0101</a>
      <a class="site-footer__link" href="mailto:info@brickimage.co.uk">mail@brickimage.nl</a>
    </div>

  </div>

</footer>
