<header class="header" id="header">

  <div class="header__wrapper">
    {% if page.lang == 'en' %}
      <a class="header__logo" href="{{ site.baseurl }}/">{% include logo.svg %}</a>
    {% else %}
      <a class="header__logo" href="{{ site.baseurl }}/nl/">{% include logo_nl.svg %}</a>
    {% endif %}

    <ul class="lang">
      {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
      {% for post in posts %}
        <li class="lang__item">
          <a href="{{ post.url }}" class="{{ post.lang }} lang__link">{{ post.lang }}</a>
        </li>
      {% endfor %}

      {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
      {% for page in pages %}
        <li class="lang__item">
          <a href="{{ page.url }}" class="{{ page.lang }} lang__link">{{ page.lang }}</a>
        </li>
      {% endfor %}
      </ul>


  </div>

  <nav class="nav">
    <div class="nav__wrapper wrapper">

      <a class="mobile" id="nav-mobile-js" href="javascript:void(0)">     <span class="mobile__bar"></span>
        <span class="mobile__text">Menu</span>
      </a>

      <div class="nav__items" id="nav">

        {% if page.lang == 'en' %}

          <a{% if page.url == '/' %} class="nav__link nav__active" {% endif %} href="/" class="nav__link ">Home</a>

          <a{% if page.url == '/examples/' %} class="nav__link nav__active" {% endif %} href="/examples/" class="nav__link">Examples</a>

          <a{% if page.url == '/about/' %} class="nav__link nav__active" {% endif %} href="/about/" class="nav__link">About</a>

          <a{% if page.url == '/conservation/' %} class="nav__link nav__active" {% endif %} href="/conservation/" class="nav__link">Conservation</a>

          <a{% if page.url == '/new-build/' %} class="nav__link nav__active" {% endif %} href="/new-build/" class="nav__link">New Build</a>

          <a{% if page.url == '/testimonials/' %} class="nav__link nav__active" {% endif %} href="/testimonials/" class="nav__link">Testimonials</a>

          <a{% if page.url == '/contact/' %} class="nav__link nav__active" {% endif %} href="/contact/" class="nav__link">Contact</a>

        {% else %}

          <a{% if page.url == '/nl/' %} class="nav__link nav__active" {% endif %} href="/nl/" class="nav__link ">Home</a>

          <a{% if page.url == '/nl/examples/' %} class="nav__link nav__active" {% endif %} href="/nl/examples/" class="nav__link">Voorbeelden</a>

          <a{% if page.url == '/nl/about/' %} class="nav__link nav__active" {% endif %} href="/nl/about/" class="nav__link">Over ons</a>

          <a{% if page.url == '/nl/conservation/' %} class="nav__link nav__active" {% endif %} href="/nl/conservation/" class="nav__link">Restauratie</a>

          <a{% if page.url == '/nl/new-build/' %} class="nav__link nav__active" {% endif %} href="/nl/new-build/" class="nav__link">Nieuwbouw</a>

          <a{% if page.url == '/nl/testimonials/' %} class="nav__link nav__active" {% endif %} href="/nl/testimonials/" class="nav__link">Referenties</a>

          <a{% if page.url == '/nl/contact/' %} class="nav__link nav__active" {% endif %} href="/nl/contact/" class="nav__link">Contact</a>

        {% endif %}
      </div>
    </div>
  </nav>


</header>
