<header class="header" id="header">

  <div class="header__wrapper">
    <a class="header__logo" href="{{ site.baseurl }}/">{% include logo.svg %}</a>
<!--
    <ul class="lang">
      <li class="lang__item lang__item--active"> <a class="lang__link" href="#">EN</a> </li>
      <li class="lang__item"> <a class="lang__link" href="#">NL</a> </li>
    </ul> -->

    <ul class="lang">
      {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
      {% for post in posts %}
        <li class="lang__item">
          <a href="{{ post.url }}" class="{{ post.lang }} lang__link">{{ post.lang }}</a>
        </li>
      {% endfor %}

      {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
      {% for page in pages %}
        <li class="lang__item">
          <a href="{{ page.url }}" class="{{ page.lang }} lang__link">{{ page.lang }}</a>
        </li>
      {% endfor %}
      </ul>


  </div>

  <nav class="nav">
    <div class="nav__wrapper wrapper">

      <a class="mobile" id="nav-mobile-js" href="javascript:void(0)">     <span class="mobile__bar"></span>
        <span class="mobile__text">Menu</span>
      </a>

      <div class="nav__items" id="nav">

        <a{% if page.url == '/index.html' %} class="nav__link nav__active" {% endif %} href="/index.html" class="nav__link ">Home</a>

        <a{% if page.url == '/examples.html' %} class="nav__link nav__active" {% endif %} href="/examples.html" class="nav__link">Examples</a>

        <a{% if page.url == '/about.html' %} class="nav__link nav__active" {% endif %} href="/about.html" class="nav__link">About</a>

        <a{% if page.url == '/conservation.html' %} class="nav__link nav__active" {% endif %} href="/conservation.html" class="nav__link">Conservation</a>

        <a{% if page.url == '/testimonials.html' %} class="nav__link nav__active" {% endif %} href="/testimonials.html" class="nav__link">Testimonials</a>

        <a{% if page.url == '/guarantee.html' %} class="nav__link nav__active" {% endif %} href="/guarantee.html" class="nav__link">Guarantee</a>

        <a{% if page.url == '/contact.html' %} class="nav__link nav__active" {% endif %} href="/contact.html" class="nav__link">Contact</a>
      </div>
    </div>
  </nav>


</header>
