.article {

  &__intro {
    font-weight: 600;
    margin-bottom: $spacing-md;
  }

  &__img {
    max-width: 40%;
    margin-bottom: $spacing-base;

    //to stop gap between img and caption
    img {
      vertical-align: middle;
    }

    @include media($small-screen) {
      max-width: 30%;
    }

    &--left {
      float: left;
      margin-right: $spacing-lg;
    }

    &--right {
      float: right;
      margin-left: $spacing-lg;
    }
  }

  &__clear {
    clear:both;
  }

  &__caption {
    font-size: $font-size-sm;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: $spacing-base;
    background-color: $white-blue;
    padding: $spacing-sm;
    margin-top: -#{$spacing-xxs}
  }

  &:not(:first-child) {
    margin-top: $spacing-xxl;

    @include media($medium-screen) {
      margin-top: $spacing-xxxxl;
    }
  }
}
