.content-right {
  @include span-columns(9);
  @include shift(1);

  &__heading {
    text-align: right;
  }

  &__column {
    @include span-columns(5 of 10);
    margin-bottom: $spacing-lg;

    &:nth-child(odd) {
      @include omega();
    }
  }

  article {
    @include clearfix;

    &:not(:first-child) {
      margin-top: $spacing-xxl;
    }
  }

  &__paragraph {
    &:first-letter {
      font-size: $font-size-lg;
      font-weight: 400;
      float: left;
      line-height: 70%;
      margin: .04em .02em 0 0;
    }
  }
}
