.gallery {
  line-height: 0;
  column-count: 2;
  column-gap: $spacing-sm;

  @include media($medium-screen) {
    column-gap: $spacing-lg;
  }

  &__item {
    display: block;
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    margin-bottom: $spacing-sm;

    @include media($medium-screen) {
      margin-bottom: $spacing-lg;
    }
  }
}
