.header {

  &__wrapper {
    @include display(flex);
    padding-top: $spacing-lg;
    padding-bottom: $spacing-lg;
  }

  &__logo {
    @include flex-grow(2);
    height: 60px;

    svg {
      height: 60px;
    }
  }

  &__lines {
    border-top: $dark-white solid 1px;
    border-bottom: $dark-white solid 1px;
  }

}
