.header {
  height: 155px;
  background-color: $white;

  @include media($small-screen) {
    height: 180px;
  }


  &__wrapper {
    @include display(flex);
    padding-top: 30px;
    padding-bottom: 30px;
    @include outer-container(90%);

    @include media($small-screen) {
      @include outer-container(95%);
    }

    @include media($large-screen) {
      @include outer-container(80em);
    }
  }

  &__logo {
    @include flex-grow(2);
    height: 35px;

    @include media($small-screen) {
      height: 60px;
    }

    svg {
      height: 35px;

      @include media($small-screen) {
        height: 60px;
      }
    }
  }

}
