.home-banner {
  position: relative;
  width: 100%;
  height: 530px;
  background-image: url("../images/home/blue_sky_background3-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: $spacing-xxxl;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: $spacing-xxl;
    width: 45%;
    background-color: transparentize($orange, 0.3);
    text-align: right;
    color: $dark-grey;
  }

  &__title {
    font-size: $font-size-xl;
    text-align: right;
    color: $white;
    $letter-spacing-base: 0.01em;
  }

  &__paragraph {
    margin-bottom: $spacing-xl;
    font-family: $heading-font-family;
    font-size: $font-size-md;
  }

  &__link {
    align-self: flex-end;
    display: inline-block;
    padding: $spacing-xs $spacing-sm;
    font-family: $heading-font-family;
    font-size: $font-size-sm;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-lg;
    border: $white solid 2px;
    color: $white;
    transition: $hover-transition;

    &:hover,
    &:focus {
      background-color: $white;
      color: $dark-grey;
    }
  }
}
