.home-about {
  @include span-columns(7 of 12);

  &__item {
    margin-bottom: $spacing-md;
  }

  &__term {
    width: 205px;
    display: inline-block;
    padding: $spacing-lg;
    font-family: $heading-font-family;
    text-align: center;
    text-transform: uppercase;
    background-color: $dark-grey;
    color: $offwhite;
  }

  &__bold {
    display: block;
    font-weight: 600;
    font-size: $font-size-md;
    margin-bottom: $spacing-xxs;
  }

  &__description {
    display: inline-block;
    padding-left: $spacing-md;
    margin-left: 0;
  }
}
