.home-about {
  margin-bottom: $spacing-xxl;
  &__item {
    margin-bottom: $spacing-md;
    display: flex;
    align-items: center;
  }

  &__term {
    font-family: $heading-font-family;
    font-weight: 600;
    font-size: $font-size-md;
    text-transform: uppercase;
  }

  &__description {

  }
}
