.lang {
  float: right;
  height: 35px;

  @include media($small-screen) {
    height: 60px;
  }

  &__item {
    display: inline-block;
    height: 25px;
    width: 25px;
    // to vertical center:
    margin-top: 5px;
    background: $dark-grey;
    transition: $hover-transition;

    @include media($small-screen) {
      height: 30px;
      width: 30px;
      margin-top: 15px;
    }

    &:hover {
      background: $orange;
    }

    &:last-child {
      margin-left: $spacing-xs;
    }
  }

  &__link {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: $white;
    font-size: $font-size-sm;
    text-transform: uppercase;

    @include media($small-screen) {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }

    &:hover {
      color: $white;
    }
  }
}


.en:lang(en),
.nl:lang(nl){
  background: $orange;

  a {
    color: $white;
  }
}
