.lang {
  @include align-items(flex-end);
  height: 60px;

  &__item {
    display: inline-block;
    height: 30px;
    width: 30px;
    // to vertical center:
    margin-top: 15px;
    background: $dark-grey;
    transition: $hover-transition;

    &--active {
      background: $orange;
    }

    &:hover {
      background: $orange;

    }

    &:last-child {
      margin-left: $spacing-xs;
    }
  }

  &__link {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: $white;
    font-size: $font-size-sm;

    &:hover {
      color: $white;
    }
  }
}
