// medium-screen: mobile navigation

.nav {
  position: relative;
  z-index: 6;
  background-color: $dark-grey;

  &__wrapper {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    // in order to know the height for the main
    height: 60px;
  }

  .mobile {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    transition: 0.1s transform linear;
    position: relative;
    background: 0;
    height: 20px;
    width: 100px;
    z-index: 1;
    outline: 0;
    padding: 0;
    border: 0;

    @include media($medium-screen) {
      display: none;
    }

    &__bar {
      height: 16px;
      width: 20px;

      //to build the three bars
    	&, &::before, &::after {
    		position: absolute;
    		background: $offwhite;
    		margin: auto;
    		width: 20px;
    		height: 2px;
    		content: '';
    		top: 50%;
    		left: 0;
        transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
    	}

    	& {
    		margin-top: -1px;
    	}

    	&::before {
    		top: -6px;
    	}

    	&::after {
    		top: 6px;
    	}

    	&::before,
    	&::after {
    		transform: rotate(0deg);
    	}
    }

    &.active .mobile__bar {
		background: 0;

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		&::before,
		&::after {
			top: 0;
		}

		&,
		&::before,
		&::after {
			transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
		}
    }

    &__text {
      font-family: $heading-font-family;
      font-weight: 600;
      margin-left: 30px;
      color: $offwhite;
    }
  }

  &__items {
    font-family: $heading-font-family;
    letter-spacing: $letter-spacing-lg;
    display: block;
    background-color: transparentize($dark-grey, 0.01);
	  max-width: 200px;
	  width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 10;
    left: -100%;
    top: 60px;
    transform: none;
	  transition: all 0.5s ease-in-out;

    @include media($medium-screen) {
      @include display(flex);
      @include justify-content(space-between);
      //to restore styles from mobile nav:
      background-color: transparent;
      max-width: none;
      height: auto;
      position:inherit;
      transform: none;
      transition: none;
      left:auto;
      top:auto;
    }
  }

  &__link {
    display: block;
    position: relative;
    margin-top: $spacing-xl;
    padding-left: $spacing-md;
    text-transform: uppercase;
    color: $offwhite;
    font-weight: 400;
    line-height: 1;
    font-size: 90%;

    &:last-child {
      margin-bottom: $spacing-xl;
    }

    @include media($medium-screen) {
      display: inline-block;
      margin-top: 0;
      padding-left: 0;
      transition: $hover-transition;

      &:last-child {
        margin-bottom: 0;
      }
    }


    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      @include media($medium-screen) {
        color: $white;
      }
    }
  }

  &__active {
    color: $orange;

    &:hover {
      color: $orange;
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
}
