// < medium-screen: mobile navigation

.nav {
  position: relative;
  z-index: 2;
  border-top: $dark-white solid 1px;
  border-bottom: $dark-white solid 1px;
  background-color: $offwhite;

  &__wrapper {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    // in order to know the height for the main
    height: 60px;
  }

  &__mobile {
    text-transform: uppercase;

    @include media($medium-screen) {
      display: none;
    }
  }

  &__items {
    display: block;
    background-color: transparentize($dark-grey, 0.05);
	  max-width: 200px;
    @include calc(height, "100vh - 180px - 10px");
	  width: 100%;
    position: absolute;
    left: -100%;
    top: 60px;
    transform: none;
	  transition: all 0.5s ease-in-out;

    @include media($medium-screen) {
      @include display(flex);
      @include justify-content(space-between);
    }
  }

  &__link {
    display: block;
    text-transform: uppercase;
    color: $light-grey;
    font-weight: 500;
    transition: color 0.6s;
    line-height: 1;
    font-size: 90%;
    position: relative;
    overflow: hidden;
    margin-top: $spacing-xl;
    padding-left: $spacing-md;
    //to cope with the different weights of font when hover
    padding-right: 8px;

    @include media($medium-screen) {
      display: inline-block;
      margin-top: none;
    }


    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      @include media($medium-screen) {
        color: $dark-grey;
      }
    }

    span {
      position: relative;
      display: inline-block;
      transition: transform 0.6s;

      &:before {
        position: absolute;
        top: 100%;
        content: attr(data-hover);
        font-weight: 600;
        transform: translate3d(0,0,0);
      }
    }

    &:hover span,
    &:focus span {
      transform: translateY(-100%);
    }
  }

  &__active {
    color: $orange;

    &:hover {
      color: $orange;

      span {
        transform: none;
      }
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
}
