.nav {
  border-top: $dark-white solid 1px;
  border-bottom: $dark-white solid 1px;
  background-color: $white;

  &__wrapper {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    // in order to know the height for the main
    height: 60px;
  }

  &__spread {
    @include display(flex);
    @include justify-content(space-between);
  }

  &__link {
    text-transform: uppercase;
    color: $light-grey;
    font-weight: 600;
    transition: color 0.6s;
    line-height: 1;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding-right: 8px;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      color: $dark-grey;
    }

    span {
      position: relative;
      display: inline-block;
      transition: transform 0.6s;

      &:before {
        position: absolute;
        top: 100%;
        content: attr(data-hover);
        font-weight: 800;
        transform: translate3d(0,0,0);
      }
    }

    &:hover span,
    &:focus span {
      transform: translateY(-100%);
    }
  }

  &__active {
    color: $orange;

    &:hover {
      color: $orange;

      span {
        transform: none;
      }
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
}
