.special-project {

  &__intro {
    @include media($medium-screen) {
      display: flex;
    }

    p {
      margin: 0;
    }
  }

  &__img {
    margin-right: $spacing-base;
    width: 100%;
    height: auto;

    @include media($medium-screen) {
      width: auto;
    }
  }

  &__right {
    margin-bottom: $spacing-base;

    @include media($small-screen) {
      float: right;
      margin-left: $spacing-base;
    }
  }

  &__artist-quote {
    position: relative;
    margin-top: $spacing-lg;
    margin-bottom: $spacing-lg;
    text-align: center;
    padding: $spacing-base;
    background-color: transparentize($orange, 0.4);
    color: $white;

    @include media($medium-screen) {
      font-size: $font-size-md;
    }

    h3 {
      color: $white;
    }

    figcaption {
      font-family: $heading-font-family;
      font-weight: 500;
      font-size: $font-size-sm;
    }
  }

  &__quote {
    clear: left;

    h3 {
      margin-top: $spacing-xl;
    }

    figure {
      margin-bottom: $spacing-lg;
      border-left: $offwhite 5px solid;
      padding-left: $spacing-base;
    }

    blockquote {
      margin: 0;
    }

    figcaption {
      font-family: $heading-font-family;
      margin-top: $spacing-sm;
      color: $orange;
      font-weight: 500;
      font-size: $font-size-sm;
    }
  }
}
