.special-project {

  &__left {
    float: left;
    margin-right: $spacing-base;
    margin-bottom: $spacing-base;
  }

  &__right {
    margin-bottom: $spacing-base;

    @include media($small-screen) {
      float: right;
      margin-left: $spacing-base;
    }
  }

  &__quote {
    clear: left;

    h3 {
      margin-top: $spacing-lg;
    }

    figure {
      margin-bottom: $spacing-lg;
      border-left: $offwhite 5px solid;
      padding-left: $spacing-base;
    }

    blockquote {
      margin: 0;
    }

    figcaption {
      font-family: $heading-font-family; 
      margin-top: $spacing-sm;
      color: $orange;
      font-weight: 500;
      font-size: $font-size-sm;
    }

  }
}
