.subnav {
  display: none;

  @include media($medium-screen) {
    @include span-columns(2);
  }

  &__link {
    font-family: $heading-font-family;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: $font-size-sm;
    color: $medium-grey;
    margin-bottom: $spacing-md;
    transition: $hover-transition;

    &:hover {
      color: $dark-grey;
    }
  }

  &__wrapper.fixed {
    @include calc(top, "#{$spacing-xxl} + 60px");
    @include span-columns(2);
    position: fixed;
  }
}

#subnav-brick {
  color: $orange;
}

#subnav-tinting {
  color: $orange;
}
