.subnav {
  @include span-columns(4);

  @include media($small-screen) {
    @include span-columns(3);
  }

  &__link {
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: $font-size-sm;
    color: $light-grey;
    margin-bottom: $spacing-md;
  }

  &__wrapper.fixed {
    @include span-columns(2);
    @include calc(top, "#{$spacing-xxl} + 60px");
    position: fixed;
  }
}
