.subnav {

  &__link {
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: $font-size-sm;
    color: $light-grey;
    margin-bottom: $spacing-md;
  }

  &__wrapper.fixed {
    @include calc(top, "#{$spacing-xxl} + 60px");
    position: fixed;
  }
}
