// a normalize stylesheet for browser consistency
@import "normalize";

// bourbon, customized bitters and bourbon grid system
@import "bourbon/bourbon";
$visual-grid: false;
$visual-grid-color: yellow;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;
@import "base/grid-settings";
@import "neat/neat";

@import "base/base";

@import "layouts/centered";
@import "layouts/subnav-article";

@import "partials/body";
@import "partials/header";
@import "partials/footer";
@import "partials/nav";
@import "partials/lang";
@import "partials/subnav";
@import "partials/article";
@import "partials/home-banner";
@import "partials/home-section";
@import "partials/home-about";
@import "partials/home-testimonials";
@import "partials/special-project";
@import "partials/gallery";

@import "pages/example";
@import "pages/conservation";
@import "pages/testimonial";
@import "pages/about";
@import "pages/contact";
