.contact {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  @include media($medium-screen) {
    flex-direction: row;
    align-items: center;
  }

  &__box {
    position: relative;
    z-index: 1;
    margin-top: $spacing-xxxl;

    @include media($medium-screen) {
      margin-top: 0;
    }

    &:first-child {
      @include media($medium-screen) {
        margin-bottom: 0;
        margin-right: $spacing-xl;
        text-align: right;
      }
    }

    &:nth-child(2) {
      @include media($medium-screen) {
        margin-left: $spacing-xl;
      }
    }
  }

  &__country{
    position: absolute;
    top: -40px;
    z-index: -3;
    font-size: 12em;
    color: transparentize($orange, 0.6);

    @include media($medium-screen) {
      top: -70px;
      font-size: $font-size-xxl;
    }
  }

  &__uk .contact__country {
    left: 20px;

    @include media($medium-screen) {
      left: auto;
      right: 50px;
    }
  }

  &__nl .contact__country {
    left: 20px;

    @include media($medium-screen) {
      left: 50px;
      right: 0;
    }
  }

  &__address {
    @include display(flex);
    @include flex-direction(column);
    font-size: $font-size-md;
    height: 100%
  }

  &__post {
    @include flex(2 1 auto);
  }

  &__place {
    font-size: $font-size-md;
  }

  &__link {
    display: block;
    color: $medium-grey;
    font-weight: 500;
  }
}
