.contact {
  margin-top: $spacing-xxxl;

  @include media($small-screen) {
    margin-top: $spacing-xxxl;
  }

  &__box {
    position: relative;
    z-index: 1;
    @include span-columns(12 of 12);

    @include media($small-screen) {
      @include span-columns(6 of 12);
    }

    @include media($medium-screen) {
      @include span-columns(5 of 12);
      @include shift(1);
    }

    @include media($large-screen) {
      @include span-columns(4 of 12);
      @include shift(2);
    }

    &:first-child {
      margin-bottom: $spacing-xxl;

      @include media($small-screen) {
        text-align: right;
      }
    }

    &:last-child{
      @include omega()
      @include shift(0);;
    }
  }

  &__country{
    position: absolute;
    top: -40px;
    z-index: -3;
    font-size: $font-size-xxxl;
    color: transparentize($orange, 0.6);

    @include media($small-screen) {
      top: -70px;
    }
  }

  &__uk .contact__country {
    right: 20px;

    @include media($small-screen) {
      right: 50px;
    }
  }

  &__nl .contact__country {
    right: 20px;

    @include media($small-screen) {
      left: 50px;
      right: 0;
    }
  }

  &__address {
    @include display(flex);
    @include flex-direction(column);
    font-size: $font-size-md;
    height: 100%
  }

  &__post {
    @include flex(2 1 auto);
  }

  &__place {
    font-size: $font-size-md;
  }

  &__link {
    display: block;
    color: $medium-grey;
    font-weight: 500;
  }
}
