.guarantee {

  li {
    padding-left: $spacing-base;
    border-left: $dark-white 5px solid;
    margin-bottom: $spacing-md;
    font-size: $font-size-sm;
  }

  &__list-heading{
    display: inline-block;
    margin-bottom: 0;
  }

  &__declaration {
    margin-bottom: $spacing-xl;
    padding: $spacing-xl $spacing-base;
    text-align: center;
    border-radius: 2px;
    font-size: $font-size-md;
    background: transparentize($orange, 0.2);

    h1 {
      margin-bottom: $spacing-xxs;
      color: $white;
      text-transform: uppercase;

    }

    p {
      margin-bottom: 0;
      color: $white;
    }
  }
}
