.home {
  
  &__text {
    padding-top: $spacing-xxl;

    @include media($medium-screen) {
      text-align: right;
    }
  }

  &__title {
    @include span-columns(12);
    text-transform: none;
    color: $orange;
    font-weight: 600;

    @include media($medium-screen) {
      @include span-columns(10);
      @include shift(2);
    }

    @include media($large-screen) {
      @include span-columns(12);
      @include shift(0);
    }
  }

  &__paragraph {
    @include span-columns(12);

    @include media($medium-screen) {
      @include span-columns(8);
      @include shift(4);
    }

    @include media($large-screen) {
      @include span-columns(11);
      @include shift(1);
    }

    &--bold {
      color: $orange;
      font-weight: 500;
    }
  }

  p:first-child {
    @include span-columns(12);

    @include media($medium-screen) {
      @include span-columns(10 of 10);
    }
  }


  p:nth-child(2){
    @include span-columns(12);

    @include media($medium-screen) {
      @include span-columns(8 of 10);
      @include shift(2);
    }
  }

  p:last-child{
    @include span-columns(12);

    @include media($medium-screen) {
      @include span-columns(6 of 10);
      @include shift(4);
    }
  }
}
