.home-banner {
  position: relative;

  &__img {
    @include span-columns(8 of 12);
  }


  &__text {
    text-align: right;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__title {
    font-size: $font-size-xl;
    color: $orange;
    text-align: right;
  }

  &__paragraph {
    margin-left: 70%;
    width: 30%;
    font-family: $heading-font-family;
    font-size: $font-size-md;
  }
}
