.testimonial {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    width: 100%;
    margin-bottom: $spacing-xl;
    background-color: $white;

    @include media($small-screen) {
      width: 48%;
    }

    @include media($medium-screen){
      width: 31%;
    }

    @include media($large-screen) {
      width: 23%;
    }
  }

  &__img-box {
    //to center image
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    max-height: 250px;
    overflow: hidden;
    margin-bottom: $spacing-base;
    border-bottom: solid $white-blue 1px;

    @include media($small-screen) {
      height: 250px;
    }
  }

  &__img {
    display: block;
    width: 100%;
    flex: 0 0 auto;
  }

  &__name {
    font-family: $heading-font-family;
    color: $orange;
    font-size: $font-size-sm;
  }

  &__project {
    position: relative;
    margin-bottom: $spacing-sm;
    color: $light-grey;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $orange;
      bottom: -3px;
      left: 0;
    }
  }

  &__text {
    padding: $spacing-sm;
  }

}
