.testimonial {
  @include display(flex);
  @include flex-wrap(wrap);

  &__item {
    @include span-columns(12 of 12);
    @include omega(1n);
    margin-bottom: $spacing-xl;

    @include media($small-screen) {
      @include omega-reset(1n);
      @include span-columns(6 of 12);
      @include omega(2n);
    }

    @include media($medium-screen){
      @include omega-reset(2n);
      @include span-columns(4 of 12);
      @include omega(3n);
    }

    @include media($large-screen) {
      @include omega-reset(3n);
      @include span-columns(3 of 12);
      @include omega(4n);
    }
  }

  &__img-box {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    height: 250px;
    overflow: hidden;
    margin-bottom: $spacing-base;
  }

  &__img {
    width: 100%;
  }

  &__name {
    color: $orange;
    font-size: $font-size-sm;
  }

  &__project {
    position: relative;
    margin-bottom: $spacing-sm;
    color: $medium-grey;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $orange;
      bottom: -3px;
      left: 0;
    }
  }

}
