html {
  font-size: 17px;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-weight: 400;
  letter-spacing: $letter-spacing-base;
  line-height: $base-line-height;
  font-size: $body-font-size-sm;

  @include media($small-screen) {
    font-size: $body-font-size-base;
  }

  @include media($medium-screen) {
    font-size: $body-font-size-md;
  }
}

h1,
h2,
h3 {
  letter-spacing: $letter-spacing-lg;
  font-family: $heading-font-family;
}

h2, h3 {
  margin: 0 0 $spacing-base;
}

h1 {
  font-weight: 700;
  font-size: $font-size-lg;
  line-height: 1;
  color: $dark-grey;
  margin: 0 0 $spacing-xs;
}

h2 {
  font-size: $font-size-md;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-size: $font-size-base;
  font-weight: 600;
  color: $orange;
  text-transform: uppercase;
}

p {
  font-size: $font-size-base;
  margin: 0 0 $spacing-sm;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $medium-grey;
  font-weight: 500;
  transition: $hover-transition;

  &:active,
  &:focus,
  &:hover {
    color: $orange;
  }
}

.site-title {
  position: absolute;
  z-index: -3;
  font-size: 5em;
  right: 0;
  top: -50px;
  color: transparentize($orange, 0.85);
  text-transform: uppercase;
  font-weight: 800;
}
